html, body, div {
	margin: 0;
	padding: 0;
}

div#container {
	text-align: center;
}

div#blah {
	height: 10em;
	width: 10em;
	background-color: red;
}
.dropzone {
	border-radius: 5%;
	margin: auto;
	height: 20em;
	width: 50em;
	border: 4px dashed black;
}

.dropzone:hover {
	cursor: pointer;
}